* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.top-enter-data {
    margin: 48px 130px 0 130px;
}

.top-enter-data-title {
    margin-bottom: 30px;
}

.top-enter-data-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(1, 70px);
    grid-column-gap: 17px;
    max-width: 200px;
}

.input-image {
    max-width: 288px;
    height: 212px;
    padding: 94px 114px;
    border: 1px solid #e5e5e5;
    border-radius: 3.5px;
    box-shadow: inset 0 0 0.2em rgba(0, 0, 0, 0.137);
}

.input-title {
    max-width: 356px;
    height: 54px;
    padding: 15px 0 15px 15px;
    border: 1px solid #e5e5e5;
    border-radius: 3.5px;
    box-shadow: inset 0 0 0.2em rgba(0, 0, 0, 0.137);
}

.input-description {
    max-width: 414px;
    height: 142px;
    grid-column-start: 2;
    padding: 36px 0 70px 18px;
    border: 1px solid #e5e5e5;
    border-radius: 3.5px;
    box-shadow: inset 0 0 0.2em rgba(0, 0, 0, 0.137);
}

.btn-submit {
    padding: 16px;
    width: 121px;
    height: 56px;
    grid-column-start: 2;
    margin: 18px 0 0 293px;
    background: #FF5A5F;
    border: none;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.btn-submit:hover {
    background: #a13a3d;
}

.bottom-view-data {
    margin: 48px 0 0 130px;
}


.bottom-view-data-title {
    padding-bottom: 32px;
}

.bottom-view-data-box {
    display: grid;
    grid-template-columns: repeat(2, max-content);
}

.bottom-view-data-box img {
    width: 288px;
}

.bottom-view-data-card {
    width: 576px;
    height: 212px;
    display: flex;
    margin: 0 60px 30px 0;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.089);
    border-radius: 8px;
}

.bottom-view-data-card-image {
    width: 50%;
}

.bottom-view-data-card-image .img {
    width: 100%;
    border-radius: 8px;
    height: 100%;
}

.bottom-view-data-card-texts {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
}

.bottom-view-data-card-texts h1 {
    margin-bottom: 16px;
    font-size: 1.3rem;
}

.bottom-view-data-card-texts span {
    font-size: 0.8rem;
    word-break: break-all;
}

@media screen and (max-width: 1370px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-enter-data{
        margin: 16px;
    }

    .top-enter-data-box {
        display: flex;
        flex-direction: column;
    }

    .input-image {
        width: 250px;
        padding: 90px 100px;
        margin-bottom: 16px; 
    }

    .input-title {
        width: 340px;
        margin-bottom: 16px;
    }

    .input-description {
        width: 340px;
        height: 130px;
    }

    .btn-submit {
        margin: 0 ;
        width: 342px;
        height: 56px;
        margin-top: 10px;
    }

    .bottom-view-data{
        margin: 68px 16px 0 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottom-view-data-box {
        display: grid;
        grid-template-columns: repeat(1, max-content);
        justify-items: center;
        align-items: center;
    }
}

@media screen and (max-width: 790px) {
    .bottom-view-data-card {
        margin: 0 0 30px 0;
        width: 343px;
        height: 424px;
        display: flex;
        flex-direction: column;
    }

    .bottom-view-data-card-image {
        width: 100%;
    }

    .bottom-view-data-card .img {
        width: 343px;
        height: 212px;
    }

    .bottom-view-data-card-texts {
        width: 100%;
    }

    .bottom-view-data-card-texts h1 {
        margin-top: 16px;
        margin-bottom: 26px;
    }
    
}





